.scrollbar {
  max-height: 438px;
  height: 317px;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 92px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #0d0d0d;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #070707;
}
